/* assistant-200 - latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/Assistant/assistant-v2-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Assistant ExtraLight'), local('Assistant-ExtraLight'),
       url('/fonts/Assistant/assistant-v2-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Assistant/assistant-v2-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Assistant/assistant-v2-latin-200.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Assistant/assistant-v2-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Assistant/assistant-v2-latin-200.svg#Assistant') format('svg'); /* Legacy iOS */
}

/* assistant-regular - latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Assistant/assistant-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Assistant'), local('Assistant-Regular'),
       url('/fonts/Assistant/assistant-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Assistant/assistant-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Assistant/assistant-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Assistant/assistant-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Assistant/assistant-v2-latin-regular.svg#Assistant') format('svg'); /* Legacy iOS */
}

/* assistant-300 - latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Assistant/assistant-v2-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Assistant Light'), local('Assistant-Light'),
       url('/fonts/Assistant/assistant-v2-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Assistant/assistant-v2-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Assistant/assistant-v2-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Assistant/assistant-v2-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Assistant/assistant-v2-latin-300.svg#Assistant') format('svg'); /* Legacy iOS */
}

/* assistant-600 - latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Assistant/assistant-v2-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Assistant SemiBold'), local('Assistant-SemiBold'),
       url('/fonts/Assistant/assistant-v2-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Assistant/assistant-v2-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Assistant/assistant-v2-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Assistant/assistant-v2-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Assistant/assistant-v2-latin-600.svg#Assistant') format('svg'); /* Legacy iOS */
}

/* assistant-800 - latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/Assistant/assistant-v2-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Assistant ExtraBold'), local('Assistant-ExtraBold'),
       url('/fonts/Assistant/assistant-v2-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Assistant/assistant-v2-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Assistant/assistant-v2-latin-800.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Assistant/assistant-v2-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Assistant/assistant-v2-latin-800.svg#Assistant') format('svg'); /* Legacy iOS */
}

/* assistant-700 - latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Assistant/assistant-v2-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Assistant Bold'), local('Assistant-Bold'),
       url('/fonts/Assistant/assistant-v2-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Assistant/assistant-v2-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Assistant/assistant-v2-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Assistant/assistant-v2-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Assistant/assistant-v2-latin-700.svg#Assistant') format('svg'); /* Legacy iOS */
}
