/* assistant-200 - latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/Assistant/assistant-v2-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Assistant ExtraLight'), local('Assistant-ExtraLight'),
       url('/fonts/Assistant/assistant-v2-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Assistant/assistant-v2-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Assistant/assistant-v2-latin-200.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Assistant/assistant-v2-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Assistant/assistant-v2-latin-200.svg#Assistant') format('svg'); /* Legacy iOS */
}

/* assistant-regular - latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Assistant/assistant-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Assistant'), local('Assistant-Regular'),
       url('/fonts/Assistant/assistant-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Assistant/assistant-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Assistant/assistant-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Assistant/assistant-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Assistant/assistant-v2-latin-regular.svg#Assistant') format('svg'); /* Legacy iOS */
}

/* assistant-300 - latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Assistant/assistant-v2-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Assistant Light'), local('Assistant-Light'),
       url('/fonts/Assistant/assistant-v2-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Assistant/assistant-v2-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Assistant/assistant-v2-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Assistant/assistant-v2-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Assistant/assistant-v2-latin-300.svg#Assistant') format('svg'); /* Legacy iOS */
}

/* assistant-600 - latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Assistant/assistant-v2-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Assistant SemiBold'), local('Assistant-SemiBold'),
       url('/fonts/Assistant/assistant-v2-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Assistant/assistant-v2-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Assistant/assistant-v2-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Assistant/assistant-v2-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Assistant/assistant-v2-latin-600.svg#Assistant') format('svg'); /* Legacy iOS */
}

/* assistant-800 - latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/Assistant/assistant-v2-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Assistant ExtraBold'), local('Assistant-ExtraBold'),
       url('/fonts/Assistant/assistant-v2-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Assistant/assistant-v2-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Assistant/assistant-v2-latin-800.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Assistant/assistant-v2-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Assistant/assistant-v2-latin-800.svg#Assistant') format('svg'); /* Legacy iOS */
}

/* assistant-700 - latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Assistant/assistant-v2-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Assistant Bold'), local('Assistant-Bold'),
       url('/fonts/Assistant/assistant-v2-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Assistant/assistant-v2-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Assistant/assistant-v2-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Assistant/assistant-v2-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Assistant/assistant-v2-latin-700.svg#Assistant') format('svg'); /* Legacy iOS */
}


body {margin: 0; padding: 50px 25px 25px 25px; font-family: 'Assistant', serif; font-weight:300;font-size:1.4em;color:#4A4A4A;}

.wrap {margin: 0 auto; max-width:800px; text-align: center;}
a {color:#5000b8; text-decoration:underline;font-weight:600;}
a:hover {color:#03c2e7;}
a:active {color:#9b9b9b;}


h1.Logo {
  margin: 0;
  padding: 0;
  font-size: 2em;
  background: rgb(80,0,184);
 background: linear-gradient(90deg, rgba(80,0,184,1) 30%, rgba(3,194,231,1) 70%);
 -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p.hoi {
  margin: 25px 25px 50px 25px;
  padding: 0;
}

span.naam {
  font-weight: 600;
  color: #5000b8;
}

a.buttonMail{text-decoration: none;}

span.button {
  display: inline;
  padding: 10px 25px 10px 25px;

  font-weight: 600;
  color: #5000b8;

  border: 3px solid #5000b8;
  border-radius: 15px;
}

span.button:hover {
  color:#03c2e7;
  border-color:#03c2e7;
}

span.button:active {
  color:#9b9b9b;
  border-color:#9b9b9b;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {margin:0; padding:25px 10px 10px 10px; font-size:1.2em;}
  p.hoi {margin:15px 15px 35px 15px;}
  span.button {font-size:0.8em;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {margin:0; padding:25px 10px 10px 10px; font-size:1.2em;}
  p.hoi {margin:25px 25px 45px 25px;}
  span.button {font-size:1em;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
